@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif; }

.bg-main {
  background-color: #021A4F; }

.text {
  color: #4a4a4a;
  line-height: 1.63; }

.text-main {
  color: #021A4F; }

.img-box img {
  max-width: 100%; }

.img-box .img-title {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(2, 26, 79, 0.8); }

.news {
  background-color: #f3f3f3; }
  .news div {
    padding-left: 1.3vw; }

.heading {
  font-size: 36px;
  border-bottom: solid 1px #021a4e;
  text-decoration: none;
  letter-spacing: 0.9px; }

.heading:hover {
  text-decoration: none; }

.title {
  font-weight: 600;
  letter-spacing: 0.4px;
  text-decoration: none; }

.title:hover {
  text-decoration: none; }

.info {
  font-size: 14px;
  line-height: 1.64; }
