@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");
/* content */
a:hover {
  text-decoration: none; }

.text {
  color: #4a4a4a;
  line-height: 1.63; }

.link {
  transition: all 0.4s;
  border-bottom: 1px solid rgba(228, 200, 0, 0); }
  .link:hover {
    text-decoration: none;
    border-bottom: 1px solid #e4c800; }

.img-box a:hover img {
  opacity: .5;
  border: 1px solid #021A4F; }

.img-box img {
  width: 100%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.img-box .img-title {
  height: 3.2rem;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 100;
  letter-spacing: 0.4px;
  background-color: rgba(2, 26, 79, 0.8); }

.news {
  background-color: #f3f3f3; }
  .news .wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .news hr {
    width: 100%; }
  .news p {
    width: 100%; }

.truncate {
  overflow: hidden;
  position: relative;
  max-height: 4.7em;
  margin-right: -1em;
  padding-right: 1em; }

.more {
  font-size: 14px;
  letter-spacing: 0.35px; }

.heading {
  font-size: 36px;
  font-weight: bold;
  border-bottom: solid 1px #021a4e;
  text-decoration: none;
  letter-spacing: 0.9px; }

.title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.4px; }
  .title:hover {
    text-decoration: none; }

.info {
  font-size: 14px;
  line-height: 1.64; }

.statistics .number {
  font-size: calc(1.535rem + 3.42vw);
  letter-spacing: 1.65px; }
  @media (min-width: 1200px) {
    .statistics .number {
      font-size: 4.1rem; } }

.statistics p {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 600;
  letter-spacing: 1.48px;
  width: auto;
  max-width: 260px; }
  @media (min-width: 1200px) {
    .statistics p {
      font-size: 1.5rem; } }

.card-wrapper .card-border {
  min-height: 14.5rem; }

.card-wrapper .icon-wrapper {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 4.5rem;
  height: 4.3rem;
  background-image: url("../images/icons/calendar.png");
  background-repeat: no-repeat;
  background-position: center; }

.card-wrapper .icon-day {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.06; }

.card-wrapper .icon-month {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.58;
  font-weight: bold; }

/* Flashing */
.hover13:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s; }

@-webkit-keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.apply-now {
  position: relative;
  background-image: url("../images/apply.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 35rem; }
  .apply-now .apply-now-text {
    font-size: calc(1.485rem + 2.82vw);
    font-weight: 800;
    line-height: 1.59;
    text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48); }
    @media (min-width: 1200px) {
      .apply-now .apply-now-text {
        font-size: 3.6rem; } }

.get-in-touch {
  background-color: #f7f7f7; }
  .get-in-touch form input, .get-in-touch form textarea {
    border-radius: 0%; }
    .get-in-touch form input::placeholder, .get-in-touch form textarea::placeholder {
      font-size: 14px;
      line-height: 1.57;
      color: #9f9f9f; }

.button {
  font-size: 1rem;
  color: #e4c800;
  border-radius: 0%; }
  .button:hover {
    color: #021A4F;
    background-color: #e4c800; }

.button-xl {
  font-size: calc(1.455rem + 2.46vw);
  font-weight: 800;
  line-height: 1.06;
  color: #e4c800;
  border-radius: 0%; }
  @media (min-width: 1200px) {
    .button-xl {
      font-size: 3.3rem; } }
  .button-xl:hover {
    color: #021A4F;
    background-color: #e4c800; }

#button {
  display: inline-block;
  background-color: #E4C800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }
  #button:hover {
    cursor: pointer;
    background-color: #333; }
    #button:hover .scroll-up-icon {
      color: white; }
  #button:active {
    background-color: #555; }
  #button.show {
    opacity: 1;
    visibility: visible; }
  #button .scroll-up-icon {
    color: #021A4F; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FBFBFA;
  z-index: 99999; }

#status {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../images/loader.gif");
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -50px 0 0 -50px; }
