@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");
/* Header */
nav {
  transition: all 0.4s; }
  nav a {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.82px;
    max-height: 3.75rem;
    overflow: hidden; }
  @media (max-width: 991.98px) {
    nav {
      background-color: white; } }
  @media (max-width: 767.98px) {
    nav {
      border-bottom: 0.125rem solid #e4c800;
      box-shadow: 0 0.125rem 0.625rem 0.006rem rgba(0, 0, 0, 0.73); } }
  @media (min-width: 768px) {
    nav {
      height: 2.5rem;
      background-color: #021A4F; }
      nav a {
        max-width: 10.6rem;
        color: white !important; } }
  @media (max-width: 767.98px) {
    nav .mobile-link-underline {
      color: #021A4F !important;
      border-bottom: 0.06rem solid black;
      width: 100%; } }
  nav .active {
    color: #e4c800 !important; }

@media (min-width: 768px) {
  .scroll {
    height: 5rem;
    border-bottom: 0.25rem solid #e4c800;
    background-color: rgba(2, 26, 79, 0.9);
    box-shadow: 0 0.125rem 0.31rem 0.06rem rgba(0, 0, 0, 0.73);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100000; } }

.nav-icons {
  font-size: 0.75rem;
  line-height: 100; }
  .nav-icons a {
    color: #b6b6b6;
    transition: all 0.4s;
    margin-right: 0.625rem; }
  .nav-icons a:hover {
    color: #021A4F;
    text-decoration: none; }

.nav-btn {
  font-size: calc(1.281rem + 0.372vw);
  font-weight: 900;
  color: #B6B6B6; }
  @media (min-width: 1200px) {
    .nav-btn {
      font-size: 1.56rem; } }

.nav-btn:hover {
  color: #021A4F; }

.internal-header {
  position: relative; }
  .internal-header .blurry {
    height: 31.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .internal-header .blurry.about {
      background-image: url("../images/about.jpg"); }
    .internal-header .blurry.admissions {
      background-image: url("../images/admissions.jpg"); }
    .internal-header .blurry.academics {
      background-image: url("../images/academics.jpg"); }
    .internal-header .blurry.international {
      background-image: url("../images/international.jpg"); }
    .internal-header .blurry.events {
      background-image: url("../images/events.jpg"); }
    .internal-header .blurry.contact-us {
      background-image: url("../images/contact-us.jpg"); }
  .internal-header .bread-crumbs {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 1.25rem;
    text-align: center; }
    .internal-header .bread-crumbs .head {
      text-shadow: .12rem .12rem .62rem #000000; }
      .internal-header .bread-crumbs .head a {
        color: white;
        transition: all .3s; }
        .internal-header .bread-crumbs .head a:hover {
          color: #021A4F !important; }

.carousel img {
  object-fit: cover;
  height: 39.2vw; }
  @media (max-width: 767.98px) {
    .carousel img {
      height: 60vw; } }

.carousel .carousel-indicators li {
  width: 1vw;
  height: 1vw;
  max-width: .62rem;
  max-height: .62rem;
  border-radius: 100%;
  margin-right: .93rem;
  box-shadow: 0 0.12rem 0.31rem 0.06rem rgba(0, 0, 0, 0.73);
  border: solid .06rem #ffffff;
  background-color: #ffffff;
  opacity: 1; }

.carousel .carousel-indicators li.active {
  background-color: rgba(0, 0, 0, 0); }

.slider-box {
  position: absolute;
  display: block;
  top: 22%;
  left: 55%;
  width: auto;
  background-color: rgba(2, 26, 79, 0.75);
  box-shadow: 0 0.12rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  z-index: 10; }
  @media (max-width: 767.98px) {
    .slider-box {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .slider-box p {
    font-size: 1rem;
    font-family: 'Spectral', serif;
    max-width: 25rem;
    overflow: hidden;
    max-height: 15vw; }
    @media (min-width: 576px) {
      .slider-box p {
        font-size: calc(1.275rem + 0.3vw); } }
  @media (min-width: 576px) and (min-width: 1200px) {
    .slider-box p {
      font-size: 1.5rem; } }
    @media (min-width: 1200px) {
      .slider-box p {
        font-size: calc(1.395rem + 1.74vw); } }
  @media (min-width: 1200px) and (min-width: 1200px) {
    .slider-box p {
      font-size: 2.7rem; } }
    @media (max-width: 575.98px) {
      .slider-box p {
        max-height: 25vw; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .slider-box p {
        max-height: 7vw; } }

.ltr-hover:after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: .06rem;
  background-color: #e4c800;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s; }
  @media (max-width: 767.98px) {
    .ltr-hover:after {
      display: none; } }

.ltr-hover:hover:after {
  transform: scaleX(1); }

/* search animation */
#search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate(0rem, -100%) scale(0, 0);
  -moz-transform: translate(0rem, -100%) scale(0, 0);
  -o-transform: translate(0rem, -100%) scale(0, 0);
  -ms-transform: translate(0rem, -100%) scale(0, 0);
  transform: translate(0rem, -100%) scale(0, 0);
  opacity: 0;
  z-index: 10000; }
  #search h3 {
    position: absolute;
    top: 25%;
    width: 100%;
    color: #fff;
    text-align: center; }
  #search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: calc(1.5rem + 3vw);
    font-weight: 300;
    text-align: center;
    border: 0rem;
    margin: 0rem auto;
    margin-top: -3.188rem;
    padding-left: 1.87rem;
    padding-right: 1.87rem;
    outline: none; }
    @media (max-width: 767.98px) {
      #search input[type="search"] {
        font-size: calc(1.375rem + 1.5vw); } }
  @media (max-width: 767.98px) and (min-width: 1200px) {
    #search input[type="search"] {
      font-size: 2.5rem; } }
    @media (min-width: 1200px) {
      #search input[type="search"] {
        font-size: 3.75rem; } }
  #search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 6.25rem;
    max-width: 12.5rem;
    margin-top: 3.81rem;
    margin-left: -2.81rem; }
    @media (max-width: 767.98px) {
      #search .btn {
        top: 45%; } }
  #search .close {
    position: fixed;
    top: .93rem;
    right: .93rem;
    color: #fff;
    background-color: #e4c800;
    border-color: #ccc;
    opacity: 1;
    padding: .62rem 1.06rem;
    font-size: calc(1.293rem + 0.516vw); }
    @media (min-width: 1200px) {
      #search .close {
        font-size: 1.68rem; } }
  #search.open {
    -webkit-transform: translate(0rem, 0rem) scale(1, 1);
    -moz-transform: translate(0rem, 0rem) scale(1, 1);
    -o-transform: translate(0rem, 0rem) scale(1, 1);
    -ms-transform: translate(0rem, 0rem) scale(1, 1);
    transform: translate(0rem, 0rem) scale(1, 1);
    opacity: 1; }
