@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "su_variables";
// @import "fonts";


/* content */
a {
    &:hover {
        text-decoration: none;
    }
}
.text {
    color: #4a4a4a;
    line-height: 1.63;
}

.link {
    transition: all 0.4s;
    border-bottom: 1px solid rgba($secondaryColor, $alpha: 0);
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid rgba($secondaryColor, $alpha: 1);
    }
}

.img-box {
    a:hover {
        img {
            opacity: .5;
            border: 1px solid $primaryColor;
        }
    }
    img {
        width: 100%;
        opacity: 1;
	    -webkit-transition: .3s ease-in-out;
	    transition: .3s ease-in-out;
    }
    .img-title {
        height: 3.2rem;
        position: absolute;
        bottom: 0%;
        left: 0%;
        right: 0%;
        z-index: 100;
        letter-spacing: 0.4px;
        background-color: rgba($primaryColor, $alpha: 0.8);
    }
}


.news {
    background-color: #f3f3f3;
    .wrapper {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    hr {
        width: 100%;
    }
    p {
        width: 100%;
    }
}

.truncate {
    overflow: hidden;
    position: relative; 
    max-height: 4.7em; 
    margin-right: -1em;
    padding-right: 1em;
}

.more {
    font-size: 14px;
    letter-spacing: 0.35px;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    border-bottom: solid 1px #021a4e;
    text-decoration: none;
    letter-spacing: 0.9px;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    &:hover {
        text-decoration: none;
    }
}

.info {
    font-size: 14px;
    line-height: 1.64;
}

.statistics {
    .number {
        @include font-size(4.1rem);
        letter-spacing: 1.65px;
    }
    p {
        @include font-size(1.5rem);
        font-weight: 600;
        letter-spacing: 1.48px;
        width: auto;
        max-width: 260px;
    }
}

/* events */
.card-wrapper {
    .card-border {
        min-height: 14.5rem;
    }
    .icon-wrapper {
        position: absolute;
        top: 2%;
        right: 3%;
        width: 4.5rem;
        height: 4.3rem;
        background-image: url('../images/icons/calendar.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .icon-day {
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.06;
    }
    .icon-month {
        position: absolute;
        bottom: 7%;
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 1.58;
        font-weight: bold;
    }
}

.event-wrapper {
    border-top: 1px solid #EAEAEA;
    a {
        &:hover {
            img {
                transition: all .4s;
                opacity: .5;
            }
        }
    }
}
.top {
    top: 10%;
}

/* Flashing effect*/
.hover13 {
    &:hover {
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
    }
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.apply-now {
    position: relative;
    background-image: url('../images/apply.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 35rem;

    .apply-now-text {
        @include font-size(3.6rem);
        font-weight: 800;
        line-height: 1.59;
        text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
    }
}

.get-in-touch {
    background-color: #f7f7f7;
    form {
        input,textarea {
            border-radius: 0%;
            &::placeholder {
                font-size: 14px;
                line-height: 1.57;
                color: #9f9f9f;
            }
        }
    }
}

.button {
    @include font-size(1rem);
    color: $secondaryColor;
    border-radius: 0%;
    &:hover {
        color: $primaryColor;
        background-color: $secondaryColor;
    }
}

.button-xl {
    @include font-size(3.3rem);
    font-weight: 800;
    line-height: 1.06;
    color: $secondaryColor;
    border-radius: 0%;
    &:hover {
        color: $primaryColor;
        background-color: $secondaryColor;
    }
}

/* scroll-top button */
#button {
    display: inline-block;
    background-color: #E4C800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &:hover {
        cursor: pointer;
        background-color: #333;
        .scroll-up-icon {
            color: white;
        }
    }
    &:active {
        background-color: #555;
      }

    &.show {
        opacity: 1;
        visibility: visible;
    }
    .scroll-up-icon {
        color: $primaryColor;
    }
}

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FBFBFA;
    z-index:99999;
}
#status {
    width:100px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url("../images/loader.gif");
    z-index:9999;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin:-50px 0 0 -50px;
}


ol {
    .prefixed {
        counter-reset: item;
        list-style-type: none;
        *list-style-type: decimal; /*Conditional hack for ie7*/
    }
    
    &.prefixed {
        li {
            &:before {
                content: 'Q' counter(item, decimal) '. ';
                counter-increment: item;
                display: block;
            }
        }
    }
    
    &.styled {
        counter-reset: item;
        li {
            background: rgba(78,68,50,.10);
            border-radius: 4px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            @include font-size(1.8rem);
            line-height: 2;
            margin-bottom: 10px;
            align-items: center;
            &::before {
                content: '' counter(item, decimal) '';
                background: $primaryColor;
                border-radius: 4px;
                color: #f7f7ef;
                @include font-size(1.8rem);
                margin: 0 5px 0 8px;
                padding: 10px 15px;
            }
        }
    }
}
