@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "su_variables";
// @import "fonts";


/* content */

.img-box {
    img {
        width: 100%;
    }
    .img-title {
        max-height: 5rem;
        overflow: hidden;
        position: absolute;
        bottom: 0%;
        left: 0%;
        right: 0%;
        z-index: 100;
        letter-spacing: .025rem;
        background-color: rgba($primaryColor, $alpha: 0.8);
    }
}


.news {
    background-color: #f3f3f3;
    .wrapper {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    hr {
        width: 100%;
    }
}

.statistics {
    .number {
        @include font-size(4.1rem);
        letter-spacing: .103rem;
    }
    p {
        @include font-size(1.5rem);
        font-weight: 600;
        letter-spacing: .093rem;
        width: auto;
        max-width: 16.25rem;
    }
    .odometer {
        font-family: $primaryFontFamily!important;
    }
}

/* events */
.card-wrapper {
    .card-border {
        height: 14.6rem;
        @include media-breakpoint-up(md)
        {
            height: 15.5rem;

        }
        @include media-breakpoint-up(xl)
        {
            height: 14rem;
        }
    }
    .icon-wrapper {
        position: absolute;
        top: 2%;
        right: 3%;
        @include media-breakpoint-only(md)
        {
            width: 3.5rem;
            height: 3.3rem;
        }
        width: 4.5rem;
        height: 4.3rem;
        background-image: url('../images/icons/calendar.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .icon-day {
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        @include font-size(1.1rem);
        @include media-breakpoint-only(md)
        {
            @include font-size(.8rem);
        }
        font-weight: 800;
        line-height: 1.06;
    }
    .icon-month {
        position: absolute;
        bottom: 12%;
        width: 100%;
        text-align: center;
        @include font-size(.7rem);
        @include media-breakpoint-only(md)
        {
            @include font-size(.5rem);
        }
        line-height: 1.58;
        font-weight: bold;
    }
    @include media-breakpoint-only(md)
    {
        .info {
            @include font-size(.7rem);
        }
        .title {
            @include font-size(.8rem);
        }
        .text {
            @include font-size(.8rem);
        }
        .more {
            @include font-size(.8rem);
        }
    }
    a {
        &:hover {
            .title {
                color: black;
                border: 0.063rem solid $secondaryColor;
            }
            .more {
                color: black;
                border: 0.063rem solid $secondaryColor;
            }
        }
    }
}

.major {
    width: 18rem;
}

.event-wrapper {
    border-top: .063rem solid #EAEAEA;
    a {
        &:hover {
            img {
                transition: all .4s;
                opacity: .5;
            }
            .text {
                transition: all .4s;
                color: black;
            }
            .title {
                border-bottom: .063rem solid $secondaryColor;
            }
        }
    }
}

.top {
    top: 20%;
}


.apply-now {
    position: relative;
    background-image: url('../images/apply.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 35rem;

    .apply-now-text {
        @include font-size(3.6rem);
        font-weight: 800;
        line-height: 1.59;
        text-shadow: 0 .125rem .25rem rgba(83, 83, 83, 0.48);
    }
}

.get-in-touch {
    background-color: #f7f7f7;
    form {
        input,textarea {
            border-radius: 0%;
            &::placeholder {
                @include font-size(.875rem);
                line-height: 1.57;
                color: #9f9f9f;
            }
        }
        .error {
            color: #ff0000;
            @include font-size(.8rem);
        }
    }
}

/* scroll-top button */
#button {
    display: inline-block;
    background-color: #E4C800;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &:hover {
        cursor: pointer;
        background-color: #333;
        .scroll-up-icon {
            color: white;
        }
    }
    &:active {
        background-color: #555;
      }

    &.show {
        opacity: 1;
        visibility: visible;
    }
    .scroll-up-icon {
        color: $primaryColor;
    }
}

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FBFBFA;
    z-index:99999;
}

#status {
    width:6.25rem;
    height:6.25rem;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url("../images/loader.gif");
    z-index:9999;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin:-3.125rem 0 0 -3.125rem;
}

ol {
    .prefixed {
        counter-reset: item;
        list-style-type: none;
        *list-style-type: decimal; /*Conditional hack for ie7*/
    }
    
    &.prefixed {
        li {
            &:before {
                content: 'Q' counter(item, decimal) '. ';
                counter-increment: item;
                display: block;
            }
        }
    }
    
    &.styled {
        counter-reset: item;
        li {
            background: rgba(78,68,50,.10);
            border-radius: 0.25rem;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            @include font-size(1.8rem);
            line-height: 2;
            margin-bottom: 0.625rem;
            align-items: center;
            &::before {
                content: '' counter(item, decimal) '';
                background: $primaryColor;
                border-radius: 0.25rem;
                color: #f7f7ef;
                @include font-size(1.8rem);
                margin: 0 0.313rem 0 0.5rem;
                padding: 0.625rem 0.938rem;
            }
        }
    }
}

.about {
    .about-border {
        width: 9.375rem;
        border-bottom: 0.625rem solid $secondaryColor!important;
    }
    small {
        line-height: 2;
    }
    
}
