@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "su_variables";
// @import "fonts";

/* footer */

footer {
    .link-social {
        &:hover {
            color: $secondaryColor;
        }
    }
    .link {
        &:hover {
            color: white;
        }
    }
    .title {
        letter-spacing: 0.058rem;
    }
    ul {
        margin-bottom: 0%;
        li{
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
        }
        a{
            font-family:  Open Sans , sans-serif;
            @include font-size(0.875rem);
            font-weight: 600;
            letter-spacing: 0.051rem;
            color: white;
        }
    }
    .border-left {
        @include media-breakpoint-down(sm)
        {
            border-left: 0.06rem solid rgba($color: white, $alpha: 0)!important;
        }
        border-left: 0.06rem solid #4d4d4d!important;
    }
    .copy-rights {
        background-color: #223663;
        @include font-size(0.68rem);
    }

    // @include media-breakpoint-up(sm)
    // {
    //     .collapse.dont-collapse {
    //         display: block;
    //     }
    // }
}