@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "su_variables";
// @import "fonts";

/* footer */

footer {
    .link {
        &:hover {
            color: white;
        }
    }
    .title {
        letter-spacing: 0.93px;
    }
    ul {
        margin-bottom: 0%;
        li{
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
        }
        a{
            font-family:  Open Sans , sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.82px;
            color: white;
        }
    }
    .border-left {
        border-left: 0.06rem solid #4d4d4d!important;
    }
    .copy-rights {
        background-color: #223663;
        font-size: 0.68rem;
    }
}