@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "su_variables";
// @import "fonts";

/* Header */

body {
    font-family: $primaryFontFamily;
}

nav {
    transition: all 0.4s;
    a {
        max-height: 60px;
        overflow: hidden;
    }
    @include media-breakpoint-down(md) {
        background-color: white;
    }

    @include media-breakpoint-down(sm) {
        border-bottom: 2px solid $secondaryColor;
        box-shadow: 0 2px 10px .1px rgba(0, 0, 0, 0.73);
    }

    @include media-breakpoint-up(md) {
        height: 40px;
        background-color: $primaryColor;
        a {
            max-width: 170px;
            color: white!important;
        }
    }
    .mobile-link-underline {
        @include media-breakpoint-down(sm)
        {
            color: $primaryColor!important;
            border-bottom: 1px solid black;
            width: 100%;
        }
    }
    .active {
        color: $secondaryColor!important;
    }
}

@include media-breakpoint-up (md) {
    .scroll {
        height: 80px;
        border-bottom: 4px solid $secondaryColor;
        background-color: rgba($color:$primaryColor,$alpha: 0.9);
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.73);
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 100000;
    }
}


.nav-icons {
    font-size: 12px;
    a {
        color: #b6b6b6;
        transition: all 0.4s;
    }

    a:hover {
        color: $primaryColor;
        text-decoration: none;
    }
}

.nav-btn {
    font-size: 25px;
    font-weight: 900;
    color: #B6B6B6;
}
.nav-btn:hover {
    color: $primaryColor; 
}

.internal-header {
    position: relative;
    .blurry {
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.about {
            background-image: url("../images/about.jpg");
        }
        &.admissions {
            background-image: url("../images/admissions.jpg");
        }
        &.academics {
            background-image: url("../images/academics.jpg");
        }
        &.international {
            background-image: url("../images/international.jpg");
        }
        &.events {
            background-image: url("../images/events.jpg");
        }
        &.contact-us {
            background-image: url("../images/contact-us.jpg");
        }
    }
    .bread-crumbs {
        // background-color: rgb(0,0,0); /* Fallback color */
        // background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        .head {
            text-shadow: 2px 2px 10px #000000;
            a {
                color: white;
                transition: all .3s;
                &:hover {
                    color: $primaryColor!important;
                }
            }
        }
    }
}

.carousel{
    img {
        object-fit: cover;
        height: 39.2vw;
        @include media-breakpoint-down(sm)
        {
            height: 60vw;
        }
    }
    .carousel-indicators {
        li {
            width: 1vw;
            height: 1vw;
            max-width: 10px;
            max-height: 10px;
            border-radius: 100%;
            margin-right: 15px;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.73);
            border: solid 1px #ffffff;
            background-color: #ffffff;
            opacity: 1;
        }
        
        li.active {
            background-color: rgba(0,0,0,0);
        }
    }
    
}

.slider-box {
    position: absolute;
    display: block;
    top: 22%;
    left: 55%;
    width: auto;
    @include media-breakpoint-down(sm) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    background-color: rgba($color: $primaryColor, $alpha: 0.75);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    p {
        @include font-size(1rem);
        @include media-breakpoint-up(sm)
        {
            @include font-size(1.5rem);
        }
        @include media-breakpoint-up(xl) {
            @include font-size(2.7rem);
        }
        font-family: 'Spectral', serif;  
        max-width: 400px;
        overflow: hidden;
        @include media-breakpoint-only(xs)
        {
            max-height: 25vw;
        }
        @include media-breakpoint-only(lg)
        {
            max-height: 7vw;
        }
        @include media-breakpoint-down(xl)
        {
            max-height: 15vw;
        }
    }
}

.ltr-hover { 
    &:after {
        @include media-breakpoint-down(sm)
        {
            display: none;
        }
        content: '';
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $secondaryColor;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}
/* search animation */
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    
    -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
    z-index: 10000;
    h3 {
        position: absolute;
        top: 25%;
        width: 100%;
        color: #fff;
        text-align: center;
    }
    input[type="search"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        @include media-breakpoint-down(sm)
        {
            @include font-size(2.5rem);
        }
        @include font-size(3.75rem);
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }
    .btn {
        position: absolute;
        @include media-breakpoint-down(sm)
        {
            top: 45%;
        }
        top: 50%;
        left: 50%;
        min-width: 100px;
        max-width: 200px;
        margin-top: 61px;
        margin-left: -45px;
    }
    .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: #fff;
        background-color: $secondaryColor;
        border-color: #ccc;
        opacity: 1;
        padding: 10px 17px;
        font-size: 27px;
    }
    
    &.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1); 
        opacity: 1;
    }
}







