@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

$primaryColor: #021A4F;
$primaryFontFamily: Open Sans , sans-serif;

/* Header */
nav {
    @media only screen and (max-width: 768px) {
        background-color: white!important;
        
    }
    @media only screen and (min-width: 768px) {

        a {
            color: white!important;
        }
    }
    
}

.nav-icons {
    font-size: 12px;
    a {
        color: #b6b6b6;
    }

    a:hover {
        color: #021a4e;
        text-decoration: none;
    }
}

.nav-btn {
    font-size: 25px;
    font-weight: 900;
    color: #B6B6B6;
}
.nav-btn:hover {
    color: #021a4e;
}

.carousel{

    .carousel-indicators {
        li {
            width: 1vw;
            height: 1vw;
            max-width: 10px;
            max-height: 10px;
            border-radius: 100%;
            margin-right: 15px;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.73);
            border: solid 1px #ffffff;
            background-color: #ffffff;
            opacity: 1;
        }
        
        li.active {
            background-color: rgba(0,0,0,0);
        }
    
   
    }
    
}

.slider-box {
    position: absolute;
    display: block;
    top: 22%;
    left: 55%;
    width: auto;
    background-color: rgba($color: $primaryColor, $alpha: 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    p {
        font-size: 3vw;
        font-family: 'Spectral', serif;  
        max-width: 400px;  
        
    }
}





