@import "su_variables";
@import "fonts";

/* Header */

body {
    font-family: $primaryFontFamily;
    height: 300vh;
}

nav {
    transition: all 0.4s;
    @media only screen and (max-width: 768px) {
        border-bottom: 2px solid $secondaryColor;
        background-color: white;
    }
    
    @media only screen and (min-width: 768px) {
        height: 40px;
        background-color: $primaryColor;
        a {
            color: white!important;
        }
    }
}

@media only screen and (min-width: 768px) {
    .scroll{
        height: 80px;
        border-bottom: 4px solid $secondaryColor;
        background-color: rgba($color: $primaryColor, $alpha: 0.9);
    }
}

.nav-icons {
    font-size: 12px;
    a {
        color: #b6b6b6;
    }

    a:hover {
        color: $primaryColor;
        text-decoration: none;
    }
}

.nav-btn {
    font-size: 25px;
    font-weight: 900;
    color: #B6B6B6;
}
.nav-btn:hover {
    color: $primaryColor; 
}

.carousel{

    .carousel-indicators {
        li {
            width: 1vw;
            height: 1vw;
            max-width: 10px;
            max-height: 10px;
            border-radius: 100%;
            margin-right: 15px;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.73);
            border: solid 1px #ffffff;
            background-color: #ffffff;
            opacity: 1;
        }
        
        li.active {
            background-color: rgba(0,0,0,0);
        }
    }
    
}

.slider-box {
    position: absolute;
    display: block;
    top: 22%;
    left: 55%;
    width: auto;
    background-color: rgba($color: $primaryColor, $alpha: 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    p {
        font-size: 3vw;
        font-family: 'Spectral', serif;  
        max-width: 400px;  
        
    }
}





